@use "./variables" as v;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;

  &__image {
    position: relative;
    width: 600px;
    height: 600px;

    img {
      position: absolute;
    }

    .decor-stats {
      left: 20px;
      top: 50px;
      width: 200px;
      z-index: 2;
    }

    .decor-star {
      left: 310px;
      top: 65px;
      width: 280px;
      z-index: 1;
    }

    .main-person {
      left: 20px;
      top: 0;
      width: 650px;
      z-index: 3;
      filter: drop-shadow(4px 4px 0 white) drop-shadow(-4px -4px 0 white);
    }
  }

  &__content {
    position: relative;
    flex: 1;
    z-index: 10;
  }
}

.title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.85;
  margin-bottom: 50px;
  color: #000;

  .highlight {
    background-color: v.$primary;
    padding: 0 15px;
    display: inline-block;
  }
}

.info-box {
  background-color: black;
  color: #fff;
  padding: 40px;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;

  &__header .tag {
    background: #fff;
    color: #000;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  .qulf {
    position: absolute;
    bottom: -60px;
    right: -60px;
    width: 140px;
    z-index: 20;
  }
}


.sphere {
  position: absolute;
  left: -65px;
  top: 36%;
  width: 140px;
  z-index: 5;
}