@use "./sass/variables" as v;
@use "./sass/navbar";
@use "./sass/hero";

body {
  background-color: #c0c0c0;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}


.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 102px 0;
  line-height: 0.9;
  color: #000;

  .highlight {
    background-color: v.$bg-dark;
    color: v.$primary;
    padding: 0 15px;
    display: inline-block;
  }
}

.info-box {
  background-color: #000;
  color: #fff;
  padding: 2.5rem;
  border: 2px solid #000;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1.5rem;

    .tag {
      background-color: #fff;
      color: #000;
      display: inline-block;
      width: fit-content;
      padding: 2px 10px;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  &__text {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 20px;

    .btn-white {
      background: #fff;
      border: none;
      padding: 10px 25px;
      font-weight: bold;
      cursor: pointer;
    }

    .read-more {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.9rem;
      border-bottom: 1px solid #fff;
    }
  }
}